<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="File" fileName="${basePath}/automation.log" filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/> <!-- Increased size for visibility -->
                <TimeBasedTriggeringPolicy /> <!-- Added to ensure daily rolling -->
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info"> <!-- Changed to lowercase to ensure compatibility -->
            <AppenderRef ref="File"/>
            <!-- <AppenderRef ref="Console"/> --> <!-- Uncomment to enable console logging -->
        </Root>
    </Loggers>
</Configuration>
